.para{
  font-size: 3rem;
  color:red;
  background-color: purple;
}
#firstdiv{
  background-color: blue;
}
#seconddiv{
  background-color:indigo;
}
#seconddiv img{
  width: 20%;
}
#nav ul li a:hover{
  background-color: white;
  color:black;

  font-size: 22px;
  border:2px solid red;
  }
#nav{
  color:red;
  font-size: 3rem;
  font-family: 'Do Hyeon', sans-serif
}
